@import "../../global.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  h1 {
    font-size: 45px;
  }
}
.tech-icons {
  height: 50px;
  width: 50px;
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.about-left {
  flex: 1;
  margin-right: 30px;
}

.about-right {
  flex: 1;
}
