@import "../../global.scss";

.toggle-div {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  font-size: 35px;
}

.toggle-button {
  width: 35px;
  height: 35px;
  background-color: lightgray;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  left: 46px;
}
